ul{
	margin-bottom: 0;
}
.navbar-brand{
	font-weight: bold;
	font-size: 1.5rem;
}
.dropdown-item{
	font-size: 14px;
}
.card{
	font-size: 20px;
}
.badge{
	padding: .2em .4em .2em .4em;
	font-size: 80%;
	line-height: 1.3;
	vertical-align: text-bottom;
}
.pt-6{
	padding-top: 6rem !important;
}
.page-link{
	color: #343a40;
}
.page-link:hover{
	color: #111315;
	border-color: #dee2e6;
}

